<h2>Order details</h2>
<div class="box" *ngIf="order">
  <table>
    <tr>
      <th>Number</th>
      <th>Ordered products</th>
      <th>Summary price</th>
      <th>Delivery address</th>
      <th>Status</th>
      <th>Remove</th>
    </tr>
    <tr>
      <td>{{order?.id}}</td>
      <td>
        <span *ngFor="let product of order?.productList">
          <div>{{product?.name}}</div>
        </span>
      </td>
      <td>{{order?.summaryPrice}}</td>
      <td>{{order?.deliveryAddress}}</td>
      <td>
        <select class="col-70" name="orderStatus" id="orderStatus"
                [(ngModel)]="order.orderStatus">
          <option value="ORDER ACCEPTED">ORDER ACCEPTED</option>
          <option value="IN PROGRESS">IN PROGRESS</option>
          <option value="SENT">SENT</option>
          <option value="DELIVERED">DELIVERED</option>
        </select>
        <button class="order"
                (click)="editOrderStatus()" routerLink="/order-list/">Change status
        </button>
      </td>
      <td>
        <button href="#" (click)="delete(order, $event)" class="order">x</button>
      </td>
    </tr>
    <tr>
      <button (click)="goBack()">go back</button>
    </tr>
  </table>
</div>

