<!--The content below is only a placeholder and can be replaced.-->
<div style="..." class="whole-body">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav>
    <a routerLink="/dashboard">Menu</a>
    <a *ngIf="!isAdminLogged()" routerLink="/pizza-list">Pizzas</a>
    <a *ngIf="!isAdminLogged()" routerLink="/pasta-list">Pastas</a>
    <a *ngIf="!isAdminLogged()" routerLink="/drink-list">Drinks</a>
    <a *ngIf="!isAdminLogged()" routerLink="/shopping-basket-detail">My Order</a>
    <a *ngIf="isAdminLogged()" routerLink="/order-list">Orders</a>
    <a *ngIf="!isAdminLogged()" routerLink="/login">Login</a>
    <a *ngIf="isAdminLogged()" (click)="logoutAdmin()" routerLink="/logout">Logout</a>
  </nav>
</div>

<router-outlet></router-outlet>
