<h2>{{pizza?.name | uppercase}} details</h2>
<div class="box" *ngIf="pizza">
  <table>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Description</th>
      <th>Availability</th>
      <th>Price</th>
      <th>Remove</th>
    </tr>
    <tr>
      <td>{{pizza?.id}}</td>
      <td>{{pizza?.name}}</td>
      <td>{{pizza?.description}}</td>
      <td>
        <input class="col-25" type="checkbox" [(ngModel)]="pizza.isAvailable" (change)="editPizzaAvailability()">
      </td>
      <td>{{pizza?.price}}</td>
      <td>
        <button href="#" class="col-25" (click)="delete(pizza, $event)" class="delete">x</button>
      </td>
    </tr>
    <tr>
      <button (click)="goBack()">go back</button>
    </tr>
  </table>
</div>





