<h2>{{drink.name | uppercase}} details</h2>
<div class="box" *ngIf="drink">
  <table>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Description</th>
      <th>Availability</th>
      <th>Price</th>
      <th>Remove</th>
    </tr>
    <tr>
      <td>{{drink.id}}</td>
      <td>{{drink.name}}</td>
      <td>{{drink.description}}</td>
      <td>
        <select class="col-25" name="isAvailable" id="isAvailable"
               [(ngModel)]="drink.isAvailable">
          <option value=True>True</option>
          <option value=False>False</option>
      </select>
        <button class="col-25"
                (click)="editDrinkAvailability()" routerLink="/drink-list/">Change availability
        </button>
      </td>
      <td>{{drink.price}}</td>
      <td>
        <button href="#" (click)="delete(drink, $event)" class="order">x</button>
      </td>
    </tr>
    <tr>
      <button (click)="goBack()">go back</button>
    </tr>
  </table>
</div>


