<h2>{{drink?.name | uppercase}} details</h2>
<div class="box" *ngIf="drink">
  <table>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Description</th>
      <th>Availability</th>
      <th>Price</th>
      <th>Remove</th>
    </tr>
    <tr>
      <td>{{drink?.id}}</td>
      <td>{{drink?.name}}</td>
      <td>{{drink?.description}}</td>
      <td>
        <input class="col-25" type="checkbox" [(ngModel)]="drink.isAvailable" (change)="editDrinkAvailability()">
      </td>
      <td>{{drink?.price}}</td>
      <td>
        <button href="#" (click)="delete(drink, $event)" class="order">x</button>
      </td>
    </tr>
    <tr>
      <button (click)="goBack()">go back</button>
    </tr>
  </table>
</div>


